*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.hero {
    
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/736x/e7/b2/8e/e7b28e480fda26d52620c38768a6aefb.jpg);
    width: 100%;
    background-color: #FF073A;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    
}

nav .logo {
    width: 100px;
    cursor: pointer;
    justify-content: center;
    background-color: #000000;
    border-radius: 50%;
}

nav ul {
    font-family: 'poppins', sans-serif;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 1rem;
    flex: 1;
    text-align: right;
    border-radius: 30px;
}

nav ul li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.content {
    position: absolute;
    color: #fff;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    transform: translateX(-50%);
    padding: 0;
    left: 50%;
}

.content h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: roboto;
    color: #f7931A;
    text-shadow: 0 0 20px #f7931A;
}

.content p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
    font-family: sans-serif;
    color: #f8f8ff;
}
.content a{
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    border-radius: 30px;
    background-color: #f7931A;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/* Responsive Design */
/*Default - hide hamburger menu in desktop*/
.hamburger {
    display: none;
}

@media (max-width: 768px) {
    #nav {
        position: relative;
        padding: 15px 20px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 45px;
        color: #fff;
    }
    
    nav ul {
        flex-direction: column;
        text-align: left;
        font-weight: bold;
        justify-content: left;
        position: absolute;
        top: 60px;
        right: 0;
        left: 50%;
        width: 100%;
        display: none;
        padding: 20px 0;
        background-color: transparent;
    }


    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}